<!DOCTYPE html>
<html lang="">

<head>
    <title>Details zu den Seminaren</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css"
          href="./css/style.css">

       

   
</head>

<body>

    <div id="container">

  
        <h1>Error 404</h1>
        <p>
            Die angeforderte Seite existiert nicht
        </p>

        <footer>
            <p>&copy; 2019 by Benedikt Kurz</p>
        </footer>
    </div>

</body>

</html>