<!DOCTYPE html>
<html lang="">

<head>
    <title>Details zu den Seminaren</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css"
          href="./css/style.css">

       
          <link rel="stylesheet" type="text/css"
          href="./css/grid.css">
   
</head>

<body>

    <div id="container">



    <%- include("includes/nav.ejs") %>

    <fieldset>
  
        <h1>Error 404</h1>
        <p>
            Die angeforderte Seite existiert nicht
        </p>

    </fieldset>

        <%- include("includes/info.ejs") %>

        <%- include("includes/foot.ejs") %>
    </div>

</body>

</html>