<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Neues Seminar anlegen</title>

  
          <link rel="stylesheet" type="text/css"
          href="./css/dashboard.css">

          <link rel="stylesheet" type="text/css"
          href="./css/style.css">
         

</head>
<body>

   

        <header>

            <figure id="titlebild_dashboard"><a href="./dashboard.html"><img src="./img/titelbild.svg" alt="FH Dortmund Logo" > </a></figure>
            <h1>Studienverwaltung</h1> 

        </header>

    <div id="haupt">
        
        <div id="seminarliste">
           <a href="./start.html"> Seminarliste </a>
        </div>

        <div id="seminardetails">
                <a href="./seminarliste">Seminardetails</a>
        </div>

        <div id="seminarleiter">
               <a href="./seminarleiter">Seminarleiter</a>
        </div>

        <div id="neues_seminar">
                <a href="./seminarneu">Neues Seminar anlegen</a>
        </div>

    </div>



    <footer>
            <p>&copy; 2019 by Benedikt Kurz</p>
    </footer>

    <script src="./js/dashboard.js">  </script>

</body>
</html>

    