<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Neues Seminar anlegen</title>

  
          <link rel="stylesheet" type="text/css"
          href="./css/dashboard.css">

          <link rel="stylesheet" type="text/css"
          href="./css/style.css">
         

</head>
<body>

    
    <%- include("includes/header.ejs") %>

    <div id="haupt">
        
        <div id="seminarliste">
           <a href="./seminarliste"> Seminarliste </a>
        </div>

        <div id="seminardetails">
                <a href="./seminardetail">Seminardetails</a>
        </div>

        <div id="seminarleiter">
               <a href="./seminarleiter">Seminarleiter</a>
        </div>

        <div id="neues_seminar">
                <a href="./seminarneu">Neues Seminar anlegen</a>
        </div>

    </div>



    <%- include("includes/foot.ejs") %>

    <script src="./js/dashboard.js">  </script>

</body>
</html>

    