
        <header>

            <figure id="titlebild_dashboard"><a href="./"><img src="./img/titelbild.svg" alt="FH Dortmund Logo" > </a></figure>
            <h1>Studienverwaltung</h1> 

        </header>