<header>
    <h1>   Studienverwaltung </h1>
    <figure>
            <a href="./"><img src="./img/titelbild.svg" alt="FH Dortmund Logo"> </a>
    </figure>
</header>

<nav>
    <ul>
        <li><a href="./seminarliste">Übersicht</a></li>
        <li><a href="./seminarneu">Neues Seminar anlegen</a></li>
        <li><a href="./seminarleiter">Seminarleiter</a></li>
        <li><a href="./seminardetail">Details zum Seminar</a></li>
    </ul>
</nav>