#container {
    display: flex;
    flex-flow: row wrap;
    background-color: darkorange;
    padding: 10px;
    margin: 5px;
    height: 100px;
  }

  div div {

    width: 150px;
    height: 150px;
    border: 2px solid;
    background-color: orange;
    margin: 5px;
  }  


 